<fieldset>
  <p>
    {{#form-input error=errors.firstName showError=showErrors}}
      First name
      <input
        type="text"
        name="firstName"
        value={{pojo.firstName}}
        autofocus
      >
    {{/form-input}}
  </p>
  <p>
    {{#form-input error=errors.lastName showError=showErrors}}
      Last name
      <input
        type="text"
        name="lastName"
        value={{pojo.lastName}}
      >
    {{/form-input}}
  </p>
  <p>
    {{#form-input error=errors.nickname showError=showErrors}}
      Nickname
      <input
        type="text"
        name="nickname"
        value={{pojo.nickname}}
      >
    {{/form-input}}
  </p>
</fieldset>

<fieldset>
  <h3>Account Privileges and Status</h3>
  <p>
    {{#form-input error=errors.role showError=showErrors}}
      User type
      {{t-select
        value=pojo.role
        prompt="Select a user type"
        options=roleOptions
        name="role"
      }}
    {{/form-input}}
  </p>
</fieldset>

{{#if isStaff}}
  <fieldset>
    <p>
      {{#form-input error=errors.email showError=showErrors}}
        Email
        <input
          type="email"
          name="email"
          value={{pojo.email}}
        >
      {{/form-input}}
    </p>
  </fieldset>
{{/if}}

<fieldset>
  <p>
    <label>
      Status
    </label>
    <div class="inputs-horizontal">
      <label>
        <input
          type="radio"
          value="active"
          checked={{if isActive true false}}
          name="status"
        >
        Active
      </label>
      <label>
        <input
          type="radio"
          value="inactive"
          checked={{if isActive false true}}
          name="status"
        >
        Inactive
      </label>
    </div>
  </p>
  <p>
    {{#form-input error=errors.dateActive showError=showErrors}}
      Date active
      {{t-pikaday
        popup=true
        name="dateActive"
        value=pojo.dateActive
      }}
    {{/form-input}}
  </p>
  <p>
    {{#form-input error=errors.dateInactive showError=showErrors}}
      Date inactive
      {{t-pikaday
        popup=true
        name="dateInactive"
        value=pojo.dateInactive
      }}
    {{/form-input}}
  </p>
</fieldset>
{{#if isStudent}}
  <fieldset>
    <h3>Student Settings</h3>
    <p>
      {{#form-input error=errors.coordinator showError=showErrors}}
        Coordinator
        {{t-select
          prompt="None assigned"
          value=pojo.coordinatorId
          options=coordinatorOptions
          optionValuePath="id"
          name="coordinator"
          onchange=(action "handleCoordinatorChange")
          bubbles=false
        }}
      {{/form-input}}
    </p>
    <p>
      {{#form-input error=errors.districtId showError=showErrors}}
        District ID
        <input
          type="text"
          name="districtId"
          value={{pojo.districtId}}
        >
      {{/form-input}}
    </p>
    <p>
      {{#form-input error=errors.districtGrade showError=showErrors}}
        Grade level
        {{t-select
          prompt="None assigned"
          value=pojo.districtGrade
          options=grades
          name="districtGrade"
        }}
      {{/form-input}}
    </p>
  </fieldset>
{{/if}}
{{#t-form-actions-row
  disabled=disabled
}}
  {{#link-to "admin-users" class="btn btn-clear"}}
    Cancel
  {{/link-to}}
{{/t-form-actions-row}}
