<h3>Combine credits</h3>
{{credit-assignments
  creditAssignments=creditAssignments
}}
<fieldset>
  <p>
    {{#form-input error=errors.credit showError=showErrors}}
      Course
      <TSelect
        name="credit"
        @value={{relationships.credit.data.id}}
        @onchange={{action "onChangeRelationship" "credit"}}
        @optionsList={{creditOptions}}
      />
    {{/form-input}}
  </p>
</fieldset>
<fieldset>
  <p>
    {{#form-input error=errors.creditHours showError=showErrors}}
      <div class="flex justify-between">
        <span>
          Credit hours
        </span>
        <span>
          {{#if pojo.enableOverride}}<span class="inline no-underline fas fa-check text-orange-500 mr-2" />{{/if}}
          <TLink
            class="font-normal"
            @action={{action "toggleOverride"}}
          >
            Override
          </TLink>
        </span>
      </div>
      {{#if pojo.enableOverride}}
        <input
          type="number"
          step="0.25"
          min="0"
          name="creditsOverride"
          value={{pojo.creditsOverride}}
          onchange={{action "onChange"}}
        >
      {{else}}
        <span class="field">
          {{pojo.creditHours}}
        </span>
      {{/if}}
    {{/form-input}}
  </p>
</fieldset>
<fieldset>
  <p>
    {{#form-input error=errors.termId showError=showErrors}}
      Term
      <TermSelect
        name="term"
        value={{relationships.term.data.id}}
        @prompt="Select term"
        @terms={{terms}}
        @onchange={{action "onChangeRelationship"}}
      />
    {{/form-input}}
  </p>
</fieldset>
<fieldset>
  <p>
    {{#form-input error=errors.note showError=showErrors}}
      Notes
      <textarea
        value={{pojo.note}}
        name="note"
        onchange={{action "onChange"}}
      />
    {{/form-input}}
  </p>
</fieldset>
<footer>
  <button class="btn" type="submit">
    Combine
  </button>
  <TLink
    @action={{action "close"}}
  >
    Cancel
  </TLink>
</footer>
