<fieldset>
  <p>
    {{#form-input error=errors.courseName showError=showErrors}}
      Course name
      <input
        type="text"
        name="courseName"
        value={{pojo.courseName}}
        autofocus
        onchange={{action "onChange"}}

      >
    {{/form-input}}
  </p>
  <p>
    {{#form-input error=errors.courseId showError=showErrors}}
      Course ID
      <input
        type="text"
        name="courseId"
        value={{pojo.courseId}}
        onchange={{action "onChange"}}
      >
    {{/form-input}}
  </p>

  <p>
    {{#form-input error=errors.courseType showError=showErrors}}
      Course type
      <TSelect
        @value={{pojo.courseType}}
        @prompt="Select a course type"
        @optionsList={{courseTypeOptions}}
        name="courseType"
        @onchange={{action "onChange"}}
      />
    {{/form-input}}
  </p>

  <p>
    {{#form-input error=errors.status showError=showErrors}}
      Status
      <TSelect
        @value={{pojo.status}}
        @optionsList={{statusOptions}}
        name="status"
        @onchange={{action "onChange"}}
      />
    {{/form-input}}
  </p>
</fieldset>

{{#t-form-actions-row
  disabled=disabled
}}
  {{#link-to "settings-credits.index" class="btn btn-clear"}}
    Cancel
  {{/link-to}}
{{/t-form-actions-row}}
