<div class="flex flex-col w-full lg:w-1/2">
  <h3>Credit Requirements</h3>
  {{graduation-plan/requirements-map
    requirementType="credit"
    mappings=mappings
    requirements=requirements
    creditsHash=creditsHash
    draggedCreditAssignment=draggedCreditAssignment
    editMapping=(action "editMapping")
    addMapping=(action "addMapping")
    removeMapping=(action "removeMapping")
  }}

  <h3>General Requirements</h3>
  {{graduation-plan/requirements-map
    requirementType="general"
    mappings=mappings
    requirements=requirements
    creditsHash=creditsHash
    draggedCreditAssignment=draggedCreditAssignment
    editMapping=(action "editMapping")
    addMapping=(action "addMapping")
    removeMapping=(action "removeMapping")
  }}

  <h3>Service Requirements</h3>
  {{graduation-plan/requirements-map
    requirementType="service"
    mappings=mappings
    requirements=requirements
    creditsHash=creditsHash
    draggedCreditAssignment=draggedCreditAssignment
    editMapping=(action "editMapping")
    addMapping=(action "addMapping")
    removeMapping=(action "removeMapping")
  }}
</div>
<div class="flex flex-col w-full lg:w-1/2 sticky top-8">
  {{graduation-plan/credits
    creditAssignments=creditAssignments
    onDrag=(action "onDrag")
  }}
</div>

{{#if showDialog}}
  {{#modal-dialog
    onClose=(action "editMapping")  
    translucentOverlay=true
  }}
    {{#t-form
      model=mappingToEdit
      save=(action 'saveMapping')
    }}
      <fieldset>
        <p>
          {{#form-input error=errors.coordinator showError=showErrors}}
            Notes
            <textarea
              name="notes"
              value={{pojo.notes}}
            />
          {{/form-input}}
        </p>
        <p>
          {{#form-input error=errors.completionDate showError=showErrors}}
            Completion date
            {{t-pikaday
              value=pojo.dateCompleted
              name="dateCompleted"
            }}
          {{/form-input}}
        </p>
      </fieldset>
      {{#t-form-actions-row
        disabled=disabled
      }}
        <a
          {{action 'editMapping'}}
          class="btn btn-clear"
        >
          Cancel
        </a>
      {{/t-form-actions-row}}
    {{/t-form}}
  {{/modal-dialog}}
{{/if}}
