<ul class="filter">
  <li class="filter-item" data-test-name>
    <input
      name="name"
      type="text"
      placeholder="Name"
      value={{queryParams.name}}
      autocomplete="off"
      onchange={{action "inputChange"}}
    >
  </li>
  {{#if showRole}}
    <li class="filter-item" data-test-role>
      <TSelect
        @options={{roleOptions}}
        @value={{queryParams.role}}
        name="role"
        @prompt="All roles"
        @onchange={{action "onSelect"}}
      />
    </li>
  {{/if}}
  {{#if showStatus}}
    <li class="filter-item" data-test-status>
      <TSelect
        @options={{statusOptions}}
        @value={{queryParams.status}}
        name="status"
        @prompt="Any status"
        @onchange={{action "onSelect"}}
      />
    </li>
  {{/if}}
  <li class="filter-item" data-test-coordinator>
    <TSelect
      @options={{coordinatorOptions}}
      @value={{queryParams.coordinator}}
      name="coordinator"
      @prompt="All coordinators"
      @optionValuePath="id"
      @optionNamePath="name"
      disabled={{isStaff}}
      @onchange={{action "onSelect"}}
    />
  </li>
  <li class="filter-item" data-test-grade>
    <TSelect
      @options={{grades}}
      @value={{queryParams.grade}}
      name="grade"
      @prompt="Any grade"
      disabled={{isStaff}}
      @onchange={{action "onSelect"}}
    />
  </li>
  <li class="filter-item" data-test-year>
    <TSelect
      @options={{schoolYearsReversed}}
      @value={{queryParams.schoolYear}}
      name="schoolYear"
      prompt="Any year"
      @disabled={{isStaff}}
      @onchange={{action "onSelect"}}
    />
  </li>
  <li class="filter-item" data-test-submit>
    <button type="submit" class="btn">
      Find
    </button>
  </li>
</ul>