<tr data-test-assignment-id={{assignment.id}}>
  <td data-test-assignment-name>
    <h4 class="compact">
      {{assignment.attributes.name}}
    </h4>
    {{#if assignment.attributes.description}}
      <p>
        {{assignment.attributes.description}}
      </p>
    {{/if}}
  </td>
  <td data-test-assignment-due>
    {{t-date assignment.attributes.dueDate "MM/DD/YY"}}
  </td>
  <td data-test-assignment-status>
    {{titleize status}}
  </td>
  <td data-test-assignment-notes>
    {{notes-list
      notes=notes
      notable=turnin
      expanded=true
    }}
  </td>
</tr>