<tr data-test-month={{month}}>
  <td>
    {{t-date month "MMM YYYY"}}
  </td>
  {{#if status}}
    <td data-test-academic class="center">
      {{titleize status.attributes.academicStatus}}
    </td>
    <td data-test-attendance class="center">
      {{titleize status.attributes.attendanceStatus}} 
    </td>
    <td data-test-ale class="center">
      {{#if status.attributes.metFteRequirements}}
        <span class="fas fa-check" />
      {{else}}
        <span class="fas fa-times" />
      {{/if}}
    </td>
  {{else}}
    {{status/no-status-display isActiveMonth}}
    {{status/no-status-display isActiveMonth}}
    {{status/no-status-display isActiveMonth}}
  {{/if}}
  <td data-test-notes>
    {{notes-list
      notes=notes
      notable=status
      expanded=true
    }}
  </td>
</tr>