<li data-test-credit-assignment-id={{creditAssignment.id}}>
  {{courseName}}
  /
  {{hours}}
  {{#if creditAssignment.attributes.overrideBy}}
    <note
      title="was {{creditAssignment.attributes.creditHours}}; by {{creditAssignment.attributes.overrideBy}}"
    >
      (O)
    </note>
  {{/if}}
  {{yield
    (hash
      creditAssignment=creditAssignment
      credit=credit
    )
  }}
</li>