<div class="flex items-center">
  <h4 class="my-1">{{requirement.attributes.name}}</h4>
  {{#if isCredit}}
    <div
      data-test-sum={{sum}}
      class="text-lg text-purple-500 font-semibold ml-4"
    >
      {{#if showSum}}
        {{sum}}
      {{else}}
        -
      {{/if}}
    </div>
  {{/if}}
</div>
{{#if requirement.attributes.notes}}
  {{t-markdown requirement.attributes.notes}}
{{/if}}
{{#credit-assignments
  creditAssignments=creditAssignments as |params|
}}
  <a
    {{action "removeMapping" params.creditAssignment}}
    title="Remove"
  >
    <span class="far fa-times-circle"/>
  </a>
{{/credit-assignments}}

{{#if childRequirements}}
  {{graduation-plan/requirements-map
    requirementType=requirementType
    mappings=mappings
    showChildren=true
    requirements=childRequirements
    creditsHash=creditsHash
    draggedCreditAssignment=draggedCreditAssignment
    addMapping=addMapping
    removeMapping=removeMapping
  }}
{{/if}}

{{#unless isCredit}}
  {{#if mapping}}
    <p>
      Completed
      {{t-date mapping.attributes.completedAt}}
    </p>
    {{#if mapping.attributes.notes}}
      {{t-markdown notes}}
    {{/if}}
  {{/if}}
  <p>
    <a
      {{action 'editMapping'}}
    >
      {{#if mapping}}Edit{{else}}Add entry{{/if}}
    </a>
  </p>
{{/unless}}