<tr>
  <td class="contract"> 
    <p class="contract-name">
      {{#link-to "status-by-enrollment" enrollment.id}}
        {{contract.attributes.name}}
      {{/link-to}}
    </p>
    <p class="full-name">
      {{full-name facilitator "first-last"}}
      /
      {{term.attributes.name}}
    </p>
    <p class="credit-assignments">
      {{credit-assignments creditAssignments=creditAssignments}}
    </p>
  </td>

  <td class="enrollment-status">
    {{enrollmentStatus}}
  </td>

  {{#each months as |month|}}
    {{status/student-enrollments/status-column
      month=month
      statusHash=statusHash
      enrollment=enrollment
    }}
  {{/each}}
  
</tr>

<tr class="notes-row {{loadingNotes}}">
  <td colspan={{columnsCount}}>
    {{notes-list notes=notes notable=enrollment}}
  </td>
</tr>