<td>
  {{contract.attributes.name}}
</td>
<td>
  {{number-or
    number=contract.relationships.enrollments.data.length
  }}
</td>
<td>
  {{category.attributes.name}}
</td>
<td>
  {{full-name facilitator}}
</td>
<td>
  {{term.attributes.name}}
</td>
<td>
  {{humanize contract.attributes.status}}
</td>
<td>
  <ul class="actions-list">
    <li class="actions-list-item status">
      {{#link-to "status-by-contract" contract.id}}
        Status
      {{/link-to}}
    </li>
    <li class="actions-list-item enrollments">
      {{#link-to "contract-enrollments" contract.id}}
        Enrollments
      {{/link-to}}
    </li>
    <li class="actions-list-item assignments">
      {{#link-to "contract-assignments" contract.id}}
        Assignments
      {{/link-to}}
    </li>
    <li class="actions-list-item attendance">
      {{#link-to "contract-attendance" contract.id}}
        Attendance
      {{/link-to}}
    </li>
  </ul>
</td>