<tr>
  <td>{{full-name participant}}</td>
  <td>{{enrollmentStatus}}</td>
  <td>{{credit-assignments creditAssignments=creditAssignments}}</td>
</tr>
<tr class="notes-row {{loadingNotes}}">
  <td colspan="3">
    {{notes-list notes=notes notable=status}}
  </td>
</tr>