<tr>
  <td class="align-center">
    <input
      type="checkbox"
      checked={{selected}}
      onchange={{action 'selectCredit'}}
      disabled={{selectionDisabled}}
    />
  </td>
  <td>
    {{courseName}}
  </td>
  <td>
    {{term.attributes.name}}
  </td>
  <td class="text-right">
    {{creditHours}}
  </td>
  <td class="text-right">
    {{t-date creditAssignment.attributes.enrollmentFinalizedOn "M/D/YYYY"}}
  </td>
  <td
    class="text-right"
    title={{creditAssignment.attributes.districtFinalizeApprovedBy}}
  >
    {{t-date creditAssignment.attributes.districtFinalizeApprovedOn "M/D/YYYY"}}
  </td>
  <td>
    {{#if showSplit}}
      Split
    {{/if}}
    {{#if showApproveForTransmittal}}
      <a href="#" {{action 'approveCredit'}} >
        {{#if isApproved}}
          Un-approve
        {{else}}
          Approve
        {{/if}}
      </a>
    {{/if}}
  </td>
</tr>
