<ul class="filter">
  <li class="filter-item">
    <TSelect
      @optionsList={{schoolYearOptions}}
      @value={{queryParams.schoolYear}}
      name="schoolYear"
      @onchange={{action "onSelect"}}
    />
  </li>
  <li class="filter-item">
    <TSelect
      @optionsList={{statusOptions}}
      @value={{queryParams.status}}
      name="status"
      @prompt="Any status"
      @onchange={{action "onSelect"}}
    />
  </li>
</ul>