<nav class="toolbar flex items-center mb-4">
  <ul class="flex list-reset">
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="contract.index"
      label="Syllabus"
    }}
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="contract-enrollments"
      label="Enrollments"
    }}
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="status-by-contract"
      label="Status"
    }}
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="contract-assignments"
      label="Assignments"
    }}
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="contract-attendance"
      label="Attendance"
    }}
  </ul>
</nav>