<h2>Enrollments</h2>

<ContractCreditAssignments
  @contract={{contract}}
  @disabled={{disabled}}
/>

<TLink action="showAddEnrollment">
  Add enrollment
</TLink>

<CheckEmpty
  @count={{model.meta.count}}
  @noResultsMessage="No enrollments as of yet"
>
  <CountParagraph
    @result={{model}}
    @name="enrollment"
  />

  <ContractEnrollmentsList
    @enrollments={{enrollments}}
    @contractIsDisabled={{contractIsDisabled}}
    @deleteEnrollment={{action "deleteEnrollment"}}
    @updateEnrollment={{action "updateEnrollment"}}
    @getNotes={{route-action "getNotes" enrollments}}
  />

</CheckEmpty>

